
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "~bootstrap/dist/css/bootstrap";

@import "~fullcalendar/dist/fullcalendar";

@import "~font-awesome/css/font-awesome";

@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker";

@import "sb-admin";


/* .fc-day {
    background-color: green !important;
}

.full-day {
	background-color: red;
} */

.whatsapp {
	text-decoration: none !important;
}